<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <% if (locals.user) {%>
      <h1>WELCOME BACK <%= user.firstname %></h1>
      <a href="/new-post">New Post</a>
      <br>
      <a href="/join">Become a Member if you have the password</a>
      <br>
      <a href="/log-out">LOG OUT</a>
    <% } else { %>
      <h1>please log in</h1>
      <form action="/log-in" method="POST">
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <button type="submit">Log In</button>
      </form>
      <a href="/sign-up">Sign Up!</a>
    <%}%>

    <ol>
      <% posts.forEach((post) => { %>
        <li>
          <p><%= post.title %></p>
          <p><%= post.text %></p>
          <% if (locals.user && locals.user.member) {%>
            <p>By <%= post.firstname %> <%= post.lastname %> on <%= post.added %></p>
          <% } %>
          
          <% if (locals.user && locals.user.admin) {%>
            <form action="/delete" method="POST">
              <input type="hidden" name="postID" value="<%= post.id %>" />
              <button type="submit">Delete Post</button>
            </form>
          <% } %>
        </li>
        <br>
      <% }); %>
    </ol>
  </body>
</html>
