<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <% if (locals.user) {%>
      <h1>Add message as <%= user.firstname %> <%= user.lastname %></h1>
      <p>Only members will see your name and date of post</p>
      <a href="/join">Become a Member if you have the password</a>
      
      <%- include("../partials/errors.ejs") %>

      <form action="/new-post" method="POST">
        <label for="title">Title:</label>
        <input id="title" name="title" type="text" />

        <label for="text">Text:</label>
        <input id="text" name="text" type="text" />

        <button type="submit">Add Post</button>
      </form>

      <a href="/">Back to Home</a>
    <% } else { %>
      <p>You need to log-in to post messages.</p>
      <br>
      <a href="/">Log In</a>
    <%}%>
  </body>
</html>
