<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs") %>

    <h1><%= title %></h1>

    <% if (locals.user) {%>
      <h2>Add message as <%= user.firstname %> <%= user.lastname %></h2>
      <p>Only members will see your name and date of post</p>
      <a href="/join">Become a Member if you have the password</a>
      
      <%- include("../partials/errors.ejs") %>

      <form action="/new-post" method="POST">
        <p class="input-container">
          <label class="input-label" for="title">Title:</label>
          <input class="input-field" id="title" name="title" type="text" />
        </p>
        <p class="input-container"></p>
          <label class="input-label" for="text">Text:</label>
          <textarea class="input-field" name="text" id="text" cols="30" rows="10"></textarea>
        </p>
        <button type="submit">Add Post</button>
      </form>

      <a href="/">Back to Home</a>
    <% } else { %>
      <p>You need to log-in to post messages.</p>
      <br>
      <a href="/">Log In</a>
    <%}%>
  </body>
</html>
